<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #paging {
        display: flex;
        gap: 32px;
      }
      #paging li {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <a href="/write/">유저 추가</a>
    <img src="./imgs/wa4v34va.png" alt="" />
    <ul id="users">
      <li>1242314</li>
      <li>23142134</li>
    </ul>
    <ul id="paging"></ul>
    <script src="./index.js"></script>
  </body>
</html>
