<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판</title>
    <link rel="stylesheet" href="/static.css" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="root">
      <h1 class="box-center">게시판</h1>
      <ul id="list"></ul>
      <div id="nav">
        <!-- <nav>
          <a id="prev-nav" href=""><span>&lt</span></a>
          <ul id="nav-list">
            <li>
              <a href=""><span>1</span></a>
            </li>
          </ul>
          <a id="next-nav" href=""><span>&gt</span></a>
        </nav> -->
        <a href="/write"><button id="write">글쓰기</button></a>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
