<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판</title>
    <link rel="stylesheet" href="/static.css" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/list.css" />
  </head>
  <body>
    <div id="root">
      <div class="header">
        <div class="container">
          <h1>자유게시판</h1>
          <form id="user-box" action="" method="post"></form>
        </div>
      </div>
      <div class="container">
        <div class="menu">
          <ul id="catalogue"></ul>
        </div>
        <div class="contents">
          <ul id="list"></ul>
        </div>
      </div>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
