body {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

#root > .header {
  padding: 1rem 0;
  border-bottom: 0.2rem solid black;
}

#root > .header h1 {
  margin: 0;
}

.menu {
  width: 10rem;
  border-right: 1px dashed black;
  margin: 0;
  padding-top: 1rem;
}

.contents {
  flex: 1;
  height: 100rem;
}
