<!-- id = asd -->
<li class="item">
  <ul class="row">
    <li class="num"><%= id %></li>
    <li class="title"><%= title %></li>
    <li class="writer"><%= writer %></li>
    <li class="createdAt"><%= createdAt %></li>
  </ul>
</li>