#count-btn {
  color: blue;
  > .count {
    // #count-btn #count{}
    color: red;
    &.even {
      color: red;
      background-color: yellow;
    }
    &.odd {
      color: white;
      background-color: black;
    }
    &.third {
      color: green;
      background-color: fuchsia;
    }
  }
}
