<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="http://localhost:3000/write" method="post">
      <fieldset>
        <legend>Sword Art Online</legend>
        <input type="text" name="id" placeholder="ID" />
        <input type="password" name="pw" placeholder="PW" />
        <input type="text" name="name" placeholder="Name" />
        <button>Link Start</button>
        <button type="reset">Reset</button>
      </fieldset>
    </form>
  </body>
</html>
