<form action="/user/login" id="login" method="post">
  <div>
    <div>
      <label for="id">ID : </label>
      <input type="text" id="id" name="id" />
    </div>
    <div>
      <label for="pw">PW : </label>
      <input type="password" name="pw" id="pw" />
    </div>
  </div>
  <button>Log In</button>
  <a href="/regist"><button type="button">Regist</button></a>
</form>
