<form action="/user/regist" id="regist" method="post">
  <div>
    <div>
      <label for="name">Name : </label>
      <input type="text" id="name" name="name" />
    </div>
    <div>
      <label for="pw">PW : </label>
      <input type="password" name="pw" id="pw" />
    </div>
  </div>
  <div>
    <div>
      <label for="id">ID : </label>
      <input type="text" id="id" name="id" />
    </div>
    <div>
      <label for="pwr">PW-R : </label>
      <input type="password" name="pwr" id="pwr" />
    </div>
  </div>
  <button>Regist</button>
  <a href="/"><button type="button">Cancel</button></a>
</form>
