<form action="/user/login" method="post">
  <fieldset>
    <legend>Log In</legend>
    <input type="text" name="userId" placeholder="ID" />
    <input type="password" name="pw" placeholder="password" />
    <button>로그인</button>
    <a href="/user/regist"><button type="button">회원가입</button></a>
  </fieldset>
</form>
