<form action="/user/regist" method="post">
  <fieldset>
    <legend>Regist</legend>
    <input type="text" name="userId" placeholder="ID" />
    <input type="password" name="pw" placeholder="password" />
    <input type="text" name="nick" placeholder="Nick Name" />
    <button>가입</button>
    <a href="/"><button type="button">취소</button></a>
  </fieldset>
</form>
