<form action="/write" method="post">
  <fieldset>
    <div>
      <input type="text" name="title" placeholder="title" />
    </div>
    <div>
      <textarea name="content" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
      <button>글쓰기</button>
      <a href="/"><button type="button">취소</button></a>
    </div>
  </fieldset>
</form>
