<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글</title>
    <link rel="stylesheet" href="/static.css" />
    <link rel="stylesheet" href="/board/index.css" />
  </head>
  <body>
    <div id="root">
      <h1 id="title"></h1>
      <div class="info">
        <span id="writer"></span>
        <span>추천 : <span id="like">0</span></span> |
        <span>조회 : <span id="view">0</span></span> |
        <span id="created_at"></span>
      </div>
      <p id="text"></p>
      <a href="/"><button>게시판</button></a>
    </div>
    <script src="/board/index.js"></script>
  </body>
</html>
